.page_container::before {
	filter: blur(1px);
	position: absolute;
	content: '';
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-repeat: no-repeat;
	background-image: url('/public/body_bg.webp');
	background-position: center;
	background-size: cover;
}
